<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Voice search in the Home screen's search bar (speech_to_text). -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <application
        android:label="Gruhini Foods"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Required by the Maps SDK for Android (google_maps_flutter).
             Value injected at build time from the root .env file's
             GOOGLE_GEOCODING_API_KEY - see android/app/build.gradle.kts. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${googleMapsApiKey}" />

        <!-- Razorpay's checkout:1.6.+ AAR declares BaseCheckoutActivity with a
             fixed screen orientation, which Play Console's large-screen
             review flags (Android now discourages orientation/resizability
             restrictions on tablets/foldables). This is Razorpay's own
             manifest entry, not ours - can't fix it in their compiled
             source, so the merger override below strips the restriction
             from the final merged manifest instead. -->
        <activity
            android:name="com.razorpay.BaseCheckoutActivity"
            android:screenOrientation="unspecified"
            tools:node="merge"
            tools:replace="android:screenOrientation" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Package-visibility declaration for Android 11+: lets Razorpay
             Checkout's own UPI-app payment option (PhonePe, GPay, Paytm,
             etc.) detect which UPI apps are installed. Not required by any
             app code directly - kept in case Razorpay's SDK doesn't merge
             its own equivalent <queries> entry. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="upi"/>
        </intent>
        <!-- Android 11+ package visibility: without this, speech_to_text
             can't see the device's speech recognition service and voice
             search silently reports "not available" even with the
             RECORD_AUDIO permission granted. -->
        <intent>
            <action android:name="android.speech.RecognitionService"/>
        </intent>
    </queries>
</manifest>
